@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Projekt.Data.Models.Erfarenhet

<form asp-controller="Cv"
      asp-action="EditErfarenhet"
      method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" style="color:red"></div>

    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="CompanyName">Företagsnamn</label>
        <input asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>
    </div>

    <div>
        <label asp-for="Position">Position</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position"></span>
    </div>

    <div>
        <label asp-for="Description">Arbetsbeskrivning</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label asp-for="StartDate">Startdatum</label>
        <input asp-for="StartDate" type="date" />
        <span asp-validation-for="StartDate"></span>
    </div>

    <div>
        <label asp-for="EndDate">Slutdatum</label>
        <input asp-for="EndDate" type="date" />
        <span asp-validation-for="EndDate"></span>
    </div>

    <button type="submit">Spara</button>
</form>
