@model IEnumerable<Projekt.Data.Models.Message>

<h2>Inbox</h2>

<table class="table">
    <thead>
        <tr>
            <th>Från</th>
            <th>Meddelande</th>
            <th>Skickat</th>
        </tr>
    </thead>
